<div id="container">
<form action="/add" method="POST">
    <p>Nome: </p>
    <input id="nome" type="text" name="nome">
    <p>Endereço: </p>
    <input id="endereco" type="text" name="endereco">
    <p>Numero: </p>
    <input id="numero" type="number" name="numero">
    <p>Estado: </p>
    <input id="numero" type="text" name="estado">
    <p>Cidade:</p>
    <input id="cidade" type="text" name="cidade">
    <p>CEP: </p>
    <input id="cep" type="number" name="cep">
    <p>CPF: </p>
    <input id="cpf" type="text" name="cpf">
    <button type="submit">Realizar Pedido</button>
</form>
</div>